# Copia este archivo a .env y ajusta los valores si lo necesitas

# Base de datos
DB_HOST=mysql
DB_PORT=3306
DB_USER=biblioteca_user
DB_PASSWORD=biblioteca_pass
DB_NAME=biblioteca

# Autenticación
JWT_SECRET=TOKEN_BIBLIOTECA
JWT_EXPIRATION_HOURS=24

# Servidor
APP_PORT=8080
